.background{
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 30em;
}

.fs-4{
    color: #FFEBBE;
}

.email{
    max-width: 500px;
}

.mockup{
    float: right;
    margin-right: 50px !important;
    justify-content: end !important;

}

.btn{
    background-color: #FFEBBE;
}

h2{
    font-family: "NTR", sans-serif;
}